<!DOCTYPE html>
<html>
  <head>

  <meta property="og:title" content="Logged Out" />
     <meta property='og:image' content="<%= image_url('screenshot') %>"/>
     <meta property="og:description"
       content="LoggedOut is a LinkedIn clone with key MVPs such as user auth, posts, profiles, comments, and likes. I built it using React, Redux, and Ruby on Rails."
     />
     <meta property="og:url"
       content="http://logged-out.herokuapp.com/"
     />

    <title>LoggedOut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('LI-Logo.png') %>";
    </script>

    <% if logged_in?%>
      <script type="text/javascript">
        window.currentUser = 
        <%= render("api/users/user.json.jbuilder", 
                    user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
